:root {
	--status: #ec6d0f;
	--info: #ec9309;
	--damage: #f31515;
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
	font-size: 16px;
	letter-spacing: 1px;
}

body {
	background-color: #0e1902;
}

main {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: 30px;
	justify-content: space-around;
	overflow: hidden;
	padding: 3% 0 3% 0;
}

.board {
	position: relative;
}

.radar {
	position: relative;
	display: table;
	border-radius: 15px;
	overflow: hidden;
	border: 2px solid #39610a;
}

.radar .row {
	display: table-row;
}

.radar .row .cell {
	display: table-cell;
}

.radar .row .cell {
	border: 1px solid #67bd03;
	opacity: 0.1;
}

.radar .row .cell.occupied {
	position: absolute;
	border-color: transparent;
	opacity: 1;
}

.externalCircle {
	position: absolute;
	border-radius: 50%;
	left: 2%;
	top: 2%;
	width: 95%;
	height: 95%;
	border: 2px solid #67bd03;
	opacity: 0.5;
	background: repeating-radial-gradient(circle at center, #67bd03 0, transparent, transparent 10px, transparent 40px);
}

.externalCircle .internalCircle {
	position: absolute;
	border-radius: 50%;
	left: 12.5%;
	top: 12.5%;
	width: 75%;
	height: 75%;
	border: 3px dashed #67bd03;
}

.sectorContainer {
	position: absolute;
	left: 0%;
	top: 0%;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.sectorContainer .sector {
	position: absolute;
	transform-origin: 100% 100%;
	width: 70%;
	height: 70%;
	left: 50%;
	top: 50%;
	margin-top: -70%;
	margin-left: -70%;
	border-bottom: 1px solid #67bd03;
}

.pointerContainer {
	width: 100%;
	height: 100%;
}

.pointerContainer .pointer {
	position: absolute;
	z-index: 1024;
	left: 0;
	right: 0;
	top: 0;
	bottom: 50%;
	will-change: transform;
	transform-origin: 50% 100%;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	background-image: linear-gradient(135deg, rgba(103, 189, 3, 0.8) 0%, rgba(0, 0, 0, 0.02) 70%, rgba(0, 0, 0, 0) 100%);
}

.pointerContainer .pointer.fast {
	animation: rotate360 3.5s infinite linear;
}

.pointerContainer .pointer.slow {
	animation: rotate360 4s infinite linear;
}

.pointerContainer .shadow {
	position: absolute;
	left: 15%;
	top: 15%;
	right: 15%;
	bottom: 15%;
	margin: auto;
	border-radius: 100%;
	box-shadow: 0 0 66px 6px #67bd03;
	animation: shadow 1s infinite ease;
}

.status {
	position: absolute;
	z-index: 2048;
	bottom: 20px;
	background-color: transparent;
	width: 100%;
	max-height: 45%;
	overflow: hidden;
}

.status > p {
	font-weight: 600;
	font-size: 1rem;
	margin: 0.5rem;
	padding: 0 1rem;
	color: var(--status);
	background-color: #0e1902;
	opacity: 0.75;
}

.status > p span.info {
	color: var(--info);
}

.status > p span.damage {
	font-weight: 800;
	color: var(--damage);
}

/* Cursor parpadeante */
.status > p:last-child > span::after {
	content: "\25AE";
	font-size: 1.25rem;
	color: #67bd03;
	animation: blink 1s steps(1, end) infinite; /* the last jump happens when the animation ends */
}

@keyframes rotate360 {
	0% {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes shadow {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* Media Queries */

/* Si la orientación es portrait o si es landscape hasta 819px: una sola columna para ambos tableros (está implícita una sola columna por tablero) */
@media (orientation: portrait), (orientation: landscape) and (max-width: 819px) {
	main {
		grid-template-columns: max-content;
		grid-row-gap: 30px;
	}
}

@media (orientation: landscape) {
	@media(min-width: 1920px) {
		main {
			grid-gap: 0;
			justify-content: space-evenly;
		}
	}

	/* Si la orientación es landscape desde 820px hasta 1024px: una sola columna para ambos tableros, y dos columnas por tablero (una columna para el radar y otra columna para los mensajes) */
	@media (min-width: 820px) and (max-width: 1024px) {
		main {
			grid-template-columns: max-content;
		}

		.board {
			display: grid;
			grid-template-columns: max-content .65fr;
			grid-template-areas: "radar status";
			grid-column-gap: 25px;
			justify-content: center;
		}

		.radar {
			grid-area: radar;
		}

		.status {
			position: relative;
			grid-area: status;
			top: 10px;
			max-height: 90%;
			border: 1px solid #39610a;
			overflow-wrap: break-word;
		}

		.status > p {
			font-weight: 600;
			font-size: .85rem;
			margin: 0.25rem;
			padding: 0.5rem;
			color: var(--status);
			background-color: #0e1902;
			opacity: 1;
		}
	}
}
